{% extends "layout.html" %}
<!DOCTYPE html>
<html>
    <head>
        {% block title %}
            {{ sitename }}
        {% endblock title %}
    </head>
    <body>
        {% block main %}
        <div class="container">
            <h2> {{ sitename }} </h2>
            <h3><ul>
                <!-- <li><a href="pptl-update">PPTL Update</a></li> -->
            </ul></h3>
        </div>
        <!-- <div class="container">
            <div class="styling">
                <pre>{{ output }}</pre>
            </div>
        </div>    -->
        {% endblock %}
    </body>
</html>
